**/.vscode/

/java/.openapi-generator/
/java/api/
/java/.openapi-generator-ignore
/java/build.*
/java/gradle*
/java/settings.gradle
/java/dist/
/java/target/
/java/git_push.sh
/java/.travis.yml

/python/.openapi-generator/
/python/.openapi-generator-ignore
/python/test
/python/git_push.sh
/python/dist/
