**/.vscode/

/java/.openapi-generator/
/java/api/
/client/.gitignore
/java/.openapi-generator-ignore
/java/build.*
/java/gradle*
/java/settings.gradle
/java/dist/
/java/target/
/java/git_push.sh
/java/.travis.yml
/java/.github/
